{% extends 'master.html' %}
{% load static %}
{% block titre %} PIW2025-Accueil {% endblock %}
{% block titrepage %} Accueil {% endblock %}

{% block accueil %} 
    {% if user.is_authenticated %}
      <div class="alert alert-info text-center mt-3" style="font-weight: bold; font-size: 1.2rem;">
          Bonjour, {{ user.email }} . Vous êtes connéctés!!!
      </div>
   {% endif %}
   <div class="container content">
      <div class="row">
          <div class="col-md-8">
             <h4>Description du projet</h4>
             <p>Vous devez créer un site web de gestion de projet informatique à l’aide de l’outil de développement présenté dans ce cours. Le site web à développer pour ce premier travail est la navigation entre les pages du site et l’affichage selon certaines dispositions d’informations prescrites dans ce travail. 
                Votre site doit avoir une page maîtresse de présentation qui contiendra toutes les informations demandées. Cette page doit également être liée à une page de styles qui sera disponible pour toutes les autres pages du site. Cette page maître doit également contenir des zones d’affichages prédéterminées où l’information proviendra des autres pages du site, plus de détails dans les spécifications du projet, elles sont identifiées par les zones « En-tête », « Menu », « contenu » et « Pied de page ».  (Voir Figure 1)
                Cette page maître contiendra un en-tête, un pied de page et un menu. Ces trois sections regroupées ne devraient pas prendre plus que 30% de la page. Les zones sont identifiées sur la figure 1. Le même en-tête, pied de page et le menu doivent être identique sur toutes les pages.
                Dans la section des projets, vous trouverez des données à afficher selon certaines règles qui doivent être respectées.
                Vous devez appliquer des styles sur l’ensemble des pages du site, de plus, vous devez installer ou utiliser « Bootstrap », ou tout autre outil de mise en page.
                </p>
          </div>
          <div class="col-md-4 text-center">
               <img src="{% static 'mesImages/PIWIMAGE.png' %}" class="img-thumbnail rounded"> 
          </div>
       </div>
    </div>
    
{% endblock %}